
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page__title {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0;
}
