.about__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about__item {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 3rem;
    width: 30%;
    text-align: center;
}

.about__item-text {
    font-size: 1.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.about__item-text::after {
    content: "";
    width: 50%;
    display: block;
    height: 1px;
    background-color: #e0e0e0;
    position: absolute;
    bottom: 0;
}